.firstGameScreen {
  width: 100%;
  display: flex;
  justify-content: center;

  &__gameWrapper {
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 1200px;
    border-radius: 10px;
    border: 1px solid black;
    min-height: 400px;

    &__settingBar {
      display: flex;
      justify-content: space-between;
      width: 804px;
      margin-bottom: 40px;

      &__button {
        height: 40px;
        box-sizing: border-box;
        padding: 10px 20px;
        font-size: 14px;
        border: 1px solid black;
        background: none;
        transition: background 0.5s ease-in,
        color 0.5s ease-in;

        &:hover {
          background: black;
          color: white;
        }
      }

      &__difficultyScale {
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: space-between;
        font-size: 20px;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      width: 800px;
    };

    &__gameScreen {
      width: 800px;
      height: 800px;
      border: 1px solid black;
      background: lightgray;
      position: relative;

      &:disabled {
        cursor: not-allowed;
      }

      &__handleItem {
        width: 40px;
        height: 40px;
        background: white;
        border: 1px solid white;
        cursor: pointer;
        transition: .5s ease-in background-color;
        position: absolute;
        z-index: 100;

        &:hover {
          background: gray;
        }
      }
    }
  }
}
