.fifthGameScreen {
  width: 100%;
  display: flex;
  justify-content: center;

  &__gameWrapper {
    padding: 60px 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid black;
    min-height: 400px;

    &__settingBar {
      display: flex;
      justify-content: space-between;
      width: 804px;
      margin-bottom: 40px;

      &__button {
        height: 40px;
        box-sizing: border-box;
        padding: 10px 20px;
        font-size: 14px;
        border: 1px solid black;
        background: none;
        transition: background 0.5s ease-in,
        color 0.5s ease-in;

        &:hover {
          background: black;
          color: white;
        }
      }

      &__difficultyScale {
        display: flex;
        align-items: center;
        width: 200px;
        justify-content: space-between;
        font-size: 20px;
      }
    }

    &__title {
      display: flex;
      justify-content: space-between;
      width: 800px;
      margin-bottom: 20px;
    };

    &__gameScreen {
      width: 700px;
      height: 700px;
      border: 1px solid black;
      background: lightgray;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        cursor: not-allowed;
      }

      &__handleItem {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: white;
        border: 1px solid white;
        cursor: pointer;
        transition: .5s ease-in background-color;
        //animation-name: changeBgColor ;
        animation-duration: 2s;

        &:hover {
          background: gray;
        }
      }
    }
  }
}

@keyframes changeBgColor {
  from {
    background: white;
  }

  25% {
    background: lightyellow;
  }

  75% {
    background: #e5e570;
  }

  to {
    background: yellow;
    display: none;
  }
}
