.fifthGameScreen {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__gameWrapper {
    padding: 60px;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    border: 1px solid deepskyblue;

    &__gameScreen {
      border-radius: 5px;
      width: 700px;
      height: 700px;
      border: 1px solid black;
      background: lightgray;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;

      &:disabled {
        cursor: not-allowed;
      }

      &__handleItem {
        width: 60px;
        height: 60px;
        border-radius: 30px;
        background: white;
        border: 1px solid white;
        cursor: pointer;
        animation-duration: 1s;
        animation-name: changeBgColor;
      }
    }

    &__optionsBar {
      margin-left: 40px;
      width: 300px;
      display: flex;
      flex-direction: column;
      height: 200px;
      justify-content: space-around;

      &__input {
        width: 120px;
        margin-left: 20px;
        height: 20px;
      }

      &__button {
        border-radius: 4px;
        height: 30px;
        box-sizing: border-box;
        font-size: 14px;
        background: none;
        color: white;
        background: #87ddef;
        border: navajowhite;
        opacity: 1;
        transition: opacity 0.5s ease-in;
        width: 150px;
        cursor: pointer;

        &:hover {
          opacity: 0.5;
        }
      }

      &__table {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
      }

      &__item {
        width: 50%;
      }
    }
  }

  &__gameDescription {
    box-sizing: border-box;
    padding: 20px 40px 40px;
    margin-top: 40px;
    width: 1160px;
    border-radius: 5px;
    border: 1px solid deepskyblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;

    &__title {
      font-size: 20px;
      margin-bottom: 20px;
    }

    &__aboutGame {
      width: 100%;
    }
  }
}

@keyframes changeBgColor {
  from {
    background: white;
  }

  to {
    background: yellow;
    display: none;
  }
}
