.gameSelectScreen {
  justify-content: center;
  min-width: 1200px;
  display: flex;
  border-radius: 10px;
  border: 1px solid black;
  min-height: 400px;
  margin-left: 65px;

  &__section {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__name {
      margin-bottom: 20px;
    };

    &__wrapper {
      display: flex;
      flex-direction: column;

      &__item {
        cursor: pointer;
        padding: 10px 20px;
        border: 1px solid black;
        margin: 10px 0;
        transition: background-color 0.5s ease-in,
        color 0.5s ease-in;

        &:hover {
          background: black;
          color: white;
        }
      }
    }
  }
}
