.gameSelectScreen {
  justify-content: center;
  min-width: 1200px;
  display: flex;
  border-radius: 10px;
  border: 1px solid deepskyblue;
  min-height: 400px;
  margin-left: 65px;

  &__section {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      margin-bottom: 20px;
    };

    &__wrapper {
      display: flex;
      flex-direction: column;

      &__item {
        cursor: pointer;
        padding: 10px 20px;
        margin: 10px 0;
        border-radius: 3px;
        opacity: 1;
        background: #87ddef;
        color: white;
        transition: opacity 0.5s ease-in;

        &:hover {
          opacity: 0.5;
        }
      }
    }
  }
}
